.search__button {
  color: #FFFFFF;
  background: #3456F3;
  border-radius: 48px;
  border: 0;
  padding: 8px 10.35px 8px 10.35px;
  width: 59px;
  height: 34px;
}

.search__img {
  width: 15px;
  height: 15px;
}

.search {
  max-width: 1280px;
  margin: 0 auto;

  padding: 70px;
}

.search__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FDFDFD;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 25px;
}

.search__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.search__checkbox {
  padding: 11px 30px 11px 30px;
  border-left: 1px solid #CBCBCB;
}
