.movies__more-button {
  width: 100%;
  height: 36px;
  border: 0;
  background-color: #F9F9F9;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.movies__more {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px 52px 70px;
}

@media screen and (max-width: 890px) {
  .movies__more {
    padding: 30px 0x 52px 30px;
  }
}

@media screen and (max-width: 450px) {
  .movies__more {
    padding: 10px 0 52px 10px;
  }
}


.movies__save-button {
  font-size: 10px;
  line-height: 9px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #F9F9F9;
  border-radius: 30px;
  border: 0;
  width: 72px;
  height: 21px;
}

.movies__save-button:before{
  text-align: center;
  content: "Сохранить"
}

.movies__save-button:disabled {
  border-radius: 30px;
  background: #FF3055;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/save-button-icon.svg);
  width: 21px;
  height: 21px;
}

.movies__save-button:disabled:before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
}
