.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 74px 435px 70px 435px;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 123px 0;
}

.profile__edit-button {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  background-color: transparent;
  align-self: flex-end;
}

.profile__logout-button {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  background-color: transparent;
  margin-top: 16px;
  color: #FF3055;
}

.profile__name-info {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__user-name {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

.profile__email {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__user-email {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__email-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
}
