.popup-global {
  justify-content: center;
  align-items: center;
}

.popup-global__container {
  min-width: 430px;
  min-height: 430px;
}

.popup-global__msg {
  width: 100%;
  height: 100%;
  text-align: center;
}
