.header__auth {
  display: flex;
  flex-direction: row;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .header__nav {
    display: none;
  }
}

.header__button-movies {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin: 0 16px 0 44px;
  text-decoration: none;
}

.header__button-saved-movies {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.header__img-account {
  background: #F9F9F9;
  border-radius: 4px;
  width: 11.5px;
  height: 14px;
  padding: 8px 7px 8px 7px;
}

.header__button-account {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin-right: 17px;
  text-decoration: none;
}

.header__account {
  display: flex;
  align-items: center;
}
