.page {
  font-family: Inter, sans-serif;
  margin: 0 auto;
  width: 100%;
/*  min-height: 100vh; */
}

.button {
  padding: 0px;
}

.button:hover {
  transition: 0.3s linear;
  opacity: 0.6;
  cursor: pointer;
}

.button:focus {
  outline: none;
}
