.page {
  font-family: Inter, sans-serif;
  margin: 0 auto;
  width: 100%;
/*  min-height: 100vh; */
}

.button {
  padding: 0px;
}

.button:hover {
  transition: 0.3s linear;
  opacity: 0.6;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.logo {
  width: 38px;
  height: 38px;
}

.section-separator {
  max-width: 1280px;
  height: 1px;
  background-color: #E8E8E8;
  border: 0;
}
