.landing {
  background: #073042;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 75px 70px 75px 70px;
}

.landing__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  margin: 0 0 36px 0;
}

.landing__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
  max-width: 310px;
  margin: 0 0 146px 0;
}

.landing__info-container {
  color: #FFFFFF;
  max-width: 640px;
}

.landing__info-button {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 130px;
  height: 36px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  border: 1px solid rgba(255, 255, 255, .6);
  color: #FFFFFF;
  padding: 10px 20px 10px 20px;
}

.landing__img {
  width: 310px;
  height: 304px;
}

.tech {
  background: #F5F5F5;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 70px 100px 70px;
}

.tech__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}

.tech__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  margin: 0 0 26px 0;
}

.tech__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 100px 0;
  max-width: 460px;
  text-align: center;
}

.tech__icons {
  display: grid;
  grid-template-rows:  60px;
  grid-template-columns: repeat(7, 90px);
  grid-gap: 10px;
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
}

.tech__icon {
  background: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 295px 0px 295px;
}

.about {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px 110px 70px;
}

.about__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}

.about__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.about__text-container {
  display: grid;
  grid-template-rows:  1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 26px;
  padding: 70px 0 110px 0;
}

.about__progress-container {
  display: grid;
  grid-template-rows:  36px 1fr;
  grid-template-columns: 1fr 4fr;
}

.about__progress-bar {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background-color: #F2F2F2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__progress-bar_green {
  background-color: #2BE080;
}

.about__progress-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  text-align: center;
  margin: 14px 0 0 0;
}

.student {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px 125px 70px;
}

.student__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
  margin: 0;
}

.student__info {
  display: flex;
  padding: 66px 0 100px 0;
  justify-content: space-between;
}

.student__container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.student__name {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.student__job {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 26px 0;
}

.student__about {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}


.student__links {
  list-style-type: none;
  display: flex;
  padding: 100px 0 0 0;
  margin: 0;
}

.student__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
}

.student__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0;
}

.student__portfolio-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 50px 0 0 0;
}


.student__portfolio-link {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  padding: 20px 0 20px 0;
  display: inline-block;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.student__portfolio-container {
  border-bottom: 1px solid #E8E8E8;
}

.student__portfolio-container:last-child {
  border-bottom: 0;
}

.student__link-img {
  height: 60px;
  width: 29px;
}


