.saved-movies__delete-button {
  background-image: url(../../images/movies-delete.svg);
  width: 21px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  border-radius: 30px;
  border: 0;
  position: absolute;
  top: 14px;
  right: 14px;
}

