.preloader {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 70px 80px 70px;
}

.preloader__more-button {
  width: 100%;
  height: 36px;
  border: 0;
  background-color: #F9F9F9;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
