.tech {
  background: #F5F5F5;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 70px 100px 70px;
}

.tech__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}

.tech__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  margin: 0 0 26px 0;
}

.tech__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 100px 0;
  max-width: 460px;
  text-align: center;
}

.tech__icons {
  display: grid;
  grid-template-rows:  60px;
  grid-template-columns: repeat(7, 90px);
  grid-gap: 10px;
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
}

.tech__icon {
  background: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 295px 0px 295px;
}
